<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li>
                            <a href="{% url 'home' %}">Receipts</a>
                        </li>
                        <li>
                            <a href="{% url 'list_categories' %}">Categories</a>
                        </li>
                        <li>
                            <a href="{% url 'list_accounts' %}">Accounts</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li>
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <h1>My Receipts</h1>
            <p>
                <a href="{% url 'create_receipt' %}">Create</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <td>Vendor</td>
                        <td>Total</td>
                        <td>Tax</td>
                        <td>Date</td>
                        <td>Category</td>
                        <td>Account</td>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in receipt_list %}
                        <tr>
                            <td>{{ receipt.total }}</td>
                            <td>{{ receipt.vendor }}</td>
                            <td>{{ receipt.tax }}</td>
                            <td>{{ receipt.date|date:"m-d-Y" }}</td>
                            <td>{{ receipt.category }}</td>
                            <td>{{ receipt.account }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
